{{#layout}}
<div class="container">
    <div class="table-responsive">
        <h3>Uploaded Files</h3>
        <table class="table table-hover" border="10">
            <thead>
            <tr>
                <th data-field="title" class="uppercase">Filename</th>
                <th data-field="filename" class="uppercase">uploaded Date</th>
                <th data-field="url" class="uppercase">Action{Delete}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td colspan="4"> No records to display</td>
            </tr>
            </tbody>
        </table>
    </div>
    <form method="GET" action="/" enctype="multipart/form-data">
        <button type="submit" class="btn btn-danger" align="center">Back</button>
    </form>
</div>
{{/layout}}
{{>layout}}