{% extends "base.html" %} {% block content %}
<div class="container" align="center">
    <h1 class="login-heading" align="center" style="margin-top:50px;">
        <strong>Cloud Photo Sharing</h1>
    <div class="login" style="margin-top:200px;">
        <h1 class="login-heading">
            <strong>Welcome.</strong> Please login.</h1>
        <form method="POST" action="/login">
            <input type="email" name="email" id="email" placeholder="Email Address" required="required" class="input-txt" />
            <input type=type="password" id="password" name="password" placeholder="Password" required="required" class="input-txt" />
            <div class="login-footer">
                <button type="submit" class="btn btn--right">Sign in </button>

            </div>
        </form>
    </div>
</div>
{% endblock %}